/* Reset */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER */
.profile-header {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 20px;
}

.profile-pic {
    width: 120px;
    height: 120px;
    border-radius: 50%;   /* Foto circular */
    object-fit: cover;
    border: 4px solid #080707;
}

.profile-name {
    font-size: 40px;
    font-weight: bold;
    color: #0a0909;
}

/* TABLA CENTRADA */
.info-section {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.info-table {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
    width: 350px;
    border-collapse: collapse;
}

/* Celdas de la tabla */
.info-table td {
    padding: 10px 0;
    font-size: 18px;
}

/* Primera columna en negrita */
.info-table td:first-child {
    width: 140px;
    color: #131212;
}
