*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: block;    
    width: auto;
    display: flex;
    flex-direction: column;        /* para que el nav quede debajo */
    justify-content: center;       /* centra verticalmente */
    align-items: center;           /* centra horizontalmente */

    height: 100vh;                 /* ocupa toda la pantalla */
    background: #9c4d1e;
    font-family: Arial, sans-serif;

}
nav {
    background-color: #333;
    padding: 10px;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav ul li a:hover {
    color: #7e7450; /* color al pasar el mouse */
}
table {
    margin-top: 30px;
    width: 500px;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 12px 15px;
    text-align: left;
}

th {
    background: #333;
    color: white;
    font-size: 18px;
}

tr:nth-child(even) {
    background: #f2f2f2;
}

tr:hover {
    background: #e0d9c9;
}
header {
    margin-bottom: 20px;
}
header h1 {
    font-size: 100px;
    color: white;
}
#tit{
    font-size: 50px;
}
